body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General Container */
.container {
  padding: 20px;
  height: auto;
  margin: 0 auto;
  max-width: 400px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Input Section */
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box {
  font-size: 1.2rem;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  margin-left: 10px;
  font-size: 1.2rem;
  padding: 10px 15px;
  background-color: #ccc;
  color: #000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Todo List */
.todo-list {
  list-style-type: none;
  padding: 0;
  height: 540px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-buttons button {
  margin-right: 0px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
}

.edit-button {
  background-color: #f39c12;
  color: #fff;
}

/* Hover Effects */
button:hover {
  opacity: 0.8;
}
